    right:20px;
    top:25px;
    display:block;
    width: 18px;
    height: 18px;
    background: transparent url(../images/carousel_pause_bg.gif) no-repeat 0 0;
    text-indent: -6000px;
}

.carousel .panel .play{
    position:absolute;
    right:20px;
    top:25px;
    display:block;
