    right:20px;
    top:25px;
    display:block;
    width: 18px;
    height: 18px;
    background: transparent url(../images/carousel_pause_bg.gif) no-repeat 0 0;
    text-indent: -6000px;
}

.carousel .panel .play{
    position:absolute;
    right:20px;
    top:25px;
    display:block;
				margin-top: 2em;
			}

/* Banner */

	#banner {
		padding: 4em 0;
	}

		#banner h2 {
			font-size: 2.25em;
		}

		#banner p {
			font-size: 1.25em;
